# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from Vacation_API import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [55]:
#Load CityWeather df
city_weather_df = pd.read_csv('../WeatherPy/UpgradedCityWeather.csv')
del city_weather_df['Unnamed: 0']
city_weather_df.head()

,City,Latitude,Longitude,Max_Temps,Humidity,Cloudiness,Wind_Speed,Country,Date,Max_Temps_in_Fahrenheit,Imperial_Wind_Speed
0,Mackay,-21.1500,149.2000,297.62,35,4,4.12,AU,1623981388,76.05,9.23
1,Tromsø,69.6496,18.9570,282.51,93,75,0.00,NO,1623981391,48.85,0.00
2,Mataura,-46.1927,168.8643,281.19,75,7,3.24,NZ,1623981393,46.47,7.26
3,Chapleau,47.8405,-83.4034,295.20,49,75,3.09,CA,1623981396,71.69,6.92
4,Longyearbyen,78.2186,15.6401,277.06,65,75,5.66,SJ,1623981399,39.04,12.68

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [33]:
#Configure gmaps
gmaps.configure(api_key=g_key)

#Storing latitude and longitude in locations
locations = city_weather_df[['Latitude', 'Longitude']]

humidity = city_weather_df['Humidity']

#Plot Heatmap
fig = gmaps.figure()

#Creating heat leayer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False,
                                max_intensity=100, point_radius=1)

#add layer
fig.add_layer(heat_layer)

#Display Figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [66]:
f_filter_df = city_weather_df[(city_weather_df['Max_Temps_in_Fahrenheit'] >=85) & 
                (city_weather_df['Max_Temps_in_Fahrenheit'] <=100)]
s_filter_df = f_filter_df[f_filter_df['Imperial_Wind_Speed']<=15]
narrowed_df = s_filter_df[s_filter_df['Cloudiness']<=30]
narrowed_df

,City,Latitude,Longitude,Max_Temps,Humidity,Cloudiness,Wind_Speed,Country,Date,Max_Temps_in_Fahrenheit,Imperial_Wind_Speed
66,Lompoc,34.6391,-120.4579,304.23,72,1,5.14,US,1623981246,87.94,11.51
101,Bilma,18.6853,12.9164,304.83,11,0,2.37,NE,1623981641,89.02,5.31
107,Arlit,18.7369,7.3853,304.87,18,6,3.77,NE,1623981657,89.10,8.44
128,Douentza,14.9951,-2.9517,305.51,30,11,5.42,ML,1623981710,90.25,12.14
150,Tessalit,20.1986,1.0114,305.48,11,0,3.13,ML,1623981731,90.19,7.01
171,Innisfail,-17.5333,146.0333,304.19,68,13,3.52,AU,1623981819,87.87,7.88
181,Doha,25.2867,51.5333,306.14,27,0,6.69,QA,1623981598,91.38,14.99
228,Kloulklubed,7.0419,134.2556,303.43,72,21,0.95,PW,1623981964,86.50,2.13
235,Balkanabat,39.5108,54.3671,305.12,12,0,4.37,TM,1623981983,89.55,9.79
274,Aloleng,16.1307,119.7824,302.95,71,21,3.65,PH,1623982082,85.64,8.18
298,Atar,20.5169,-13.0499,302.93,20,0,3.74,MR,1623982144,85.60,8.38
304,Platteville,42.7342,-90.4785,302.68,61,1,3.60,US,1623982159,85.15,8.06
372,Qui Nhon,13.7667,109.2333,305.52,53,12,2.04,VN,1623982332,90.27,4.57
461,Nizwá,22.9333,57.5333,306.75,17,0,1.81,OM,1623982556,92.48,4.05
462,Bima,-8.4667,118.7167,303.19,58,20,2.32,ID,1623982559,86.07,5.20
477,Nadadores,27.0500,-101.6000,303.28,33,16,4.22,MX,1623982596,86.23,9.45
500,Kwang Binh,17.4833,106.6000,304.67,64,27,4.63,VN,1623982654,88.74,10.37
505,Diu,20.7141,70.9822,303.10,71,12,6.09,IN,1623982667,85.91,13.64
543,Truth or Consequences,33.1284,-107.2528,307.28,16,1,4.12,US,1623982763,93.43,9.23

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [68]:
#Store df into varible and add
hotel_df = narrowed_df.loc[:,['City','Country','Latitude', 'Longitude']].reset_index(drop=True)
hotel_df['Hotel_Name'] = ''
hotel_df.head()

       City Country  Latitude  Longitude Hotel_Name
0    Lompoc      US   34.6391  -120.4579
1     Bilma      NE   18.6853    12.9164
2     Arlit      NE   18.7369     7.3853
3  Douentza      ML   14.9951    -2.9517
4  Tessalit      ML   20.1986     1.0114

In [ ]:
#Set Parameters to search for hotels using base URL 
#(Referenced: https://developers.google.com/maps/documentation/places/web-service/search)
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"key": g_key,
          "radius": 5000,
          "type": "lodging"
          "keyword": "hotel"}

#Start For loop to go through each row and retrieve lodging
For index, row in hotel_df.iterows():
    city = row['City']
    latitude = row['Latitude']
    longitude = row['Longitude']
    params['location'] = f"{latitude},{longitude}"

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure